body{
    margin: 0px;
}
.top{
    background-color: #2e3436;
    border-bottom: 1px solid #f2f2f2;
    height: 50px;
    color: #f2f2f2;
}

.top-item-escape{
    margin-top: 10px;
    font-size: 24px;

}

.top-item-escape >a{
    color: #f2f2f2;

}

.top-item{
    margin-top: 15px;
    font-size: 16px;
}

.top-item > a{
    color: #f2f2f2;
}
.sidebar{
    background-color: #2e3436;
    color: #f2f2f2;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sidebar-item a{
    color: #f2f2f2;
}
.nav .nav-pills .nav-stacked li a{
    color: #f2f2f2;
}

.right{
    float: right;
}
.dashboard {
    overflow: hidden;
    margin-top: 1px;
}
.nav-pills > li.active > a{
    background-color: #f2f2f2;
    color: #2e3436;
}
.nav > li > a{
    color: #f2f2f2;
}
.nav-pills > li.active > a:focus, .nav > li > a:focus{
    color: #2e3436;
}
.nav-pills > li.active > a:hover, .nav > li > a:hover{
    color: #2e3436;
}