body {
    margin: 0px;
}

.col-md-offset-2 .container {
    overflow: hidden;
    margin-left: 20px;
}

.top {
    background-color: #2e3436;
    border-bottom: 1px solid #f2f2f2;
    height: 60px;
    color: #f2f2f2;
}

.top-item-escape {
    margin-top: 10px;
    font-size: 24px;

}

.top-item-escape > a {
    color: #f2f2f2;

}

.top-item {
    margin-top: 10px;
    font-size: 16px;
}

.top-item > a {
    color: #f2f2f2;
}

.sidebar {
    background-color: #2e3436;
    color: #f2f2f2;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-item a {
    color: #f2f2f2;
}

.nav .nav-pills .nav-stacked li a {
    color: #f2f2f2;
}

.right {
    display: none;
    float: right;
}

.dashboard {
    overflow: hidden;
    margin-top: 1px;
}

.nav-pills > li.active > a {
    background-color: #f2f2f2;
    color: #2e3436;
}

.nav > li > a {
    color: #f2f2f2;
}

.nav-pills > li.active > a:focus, .nav > li > a:focus {
    color: #2e3436;
}

.nav-pills > li.active > a:hover, .nav > li > a:hover {
    color: #2e3436;
}

.sidebar {
    background-color: #2e3436;
    color: #f2f2f2;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.sidebar .glyphicon {
    padding-right: 10px;
}

.sidebar-item a {
    color: #f2f2f2;
}

.nav-pills > li.active > a {
    background-color: #f2f2f2;
    color: #2e3436;
}

.nav > li > a {
    color: #f2f2f2;
}

.nav-pills > li.active > a:focus, .nav > li > a:focus {
    color: #2e3436;
}

.nav-pills > li.active > a:hover, .nav > li > a:hover {
    color: #2e3436;
}

.nav li ul li {
    list-style: none;
}

.nav li ul li a {
    position: relative;
    display: block;
    border-radius: 4px;
    padding: 5px 15px;
    color: #f2f2f2;
    text-decoration: none;
}

/* Overview filter styling */
.overview-title {
    display: inline-block;
}

.filters {
    display: block;
    float: right;
    margin-top: 20px;
    font-size: 20px;
}

.filters a {
    color: #000;
    margin-left: 10px;
}

/* Setting slider styling */
.sliders img {
    width: 250px;
    max-height: 250px;
}

.sliders .lightgray {
    background-color: #D3D3D3;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

    .top {
        padding-top: 6px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .right {
        display: inline-block;
        float: right;
    }

    .nav > .smallDevice {
        display: none;
    }
}

.nav-pills > li.active > .hover_red > a:hover, .nav > .hover_red > a:hover, .nav li ul li.toevoegen a:hover,
.nav li ul li.toevoegen a.active, .nav-pills > li.active > .hover_orange > a:hover, .nav > .hover_orange > a:hover,
.nav li ul li.toevoegen a:hover, .nav li ul li.htoevoegen a.active, .nav-pills > li.active > .hover_blue > a:hover,
.nav > .hover_blue > a:hover, .nav li ul li.toevoegen a:hover,
.nav li ul li.toevoegen a.active .nav-pills > li.active > .hover_green > a:hover, .nav > .hover_green > a:hover,
.nav li ul li.toevoegen a:hover, .nav li ul li.toevoegen a.active {

     color: #000000;
     background: #d7d7d7;
 }
.nav li ul li.toevoegen .tekst{
     border-bottom: solid;
     border-color: limegreen;
 }
.nav li ul li.toevoegen .glyphicon glyphicon-plus left{
     color: green;
 }
.nav li:hover ul {
    display: block;
}
.nav li ul{
    display: none;
}
.nav {
     padding: 0px;
    margin: 0px;
    list-style: none;
 }


