@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/bebas-neue/BebasNeue.eot');
    src: url('../fonts/bebas-neue/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue/BebasNeue.woff') format('woff'),
    url('../fonts/bebas-neue/BebasNeue.ttf') format('truetype'),
    url('../fonts/bebas-neue/BebasNeue.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'univers';
    src: url('../fonts/univers/UniversLTStd.eot');
    src: url('../fonts/univers/UniversLTStd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/univers/UniversLTStd.woff') format('woff'),
    url('../fonts/univers/UniversLTStd.ttf') format('truetype'),
    url('../fonts/univers/UniversLTStd.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'univers-cn';
    src: url('../fonts/univers-cn/UniversLTStdCn.eot');
    src: url('../fonts/univers-cn/UniversLTStdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/univers-cn/UniversLTStdCn.woff') format('woff'),
    url('../fonts/univers-cn/UniversLTStdCn.ttf') format('truetype'),
    url('../fonts/univers-cn/UniversLTStdCn.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'univers-cn-light';
    src: url('../fonts/univers-cn-light/UniversLTStdLightCn.eot');
    src: url('../fonts/univers-cn-light/UniversLTStdLightCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/univers-cn-light/UniversLTStdLightCn.woff') format('woff'),
    url('../fonts/univers-cn-light/UniversLTStdLightCn.ttf') format('truetype'),
    url('../fonts/univers-cn-light/UniversLTStdLightCn.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**
General CSS
**/
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'univers-cn';
}
.more-padding {
    padding: 0px 100px 20px 100px;
}
/**
css contactpagina
 */
div.bg-contact {
    background-color: #DC941A;
}
input.button-submit {
    white-space: normal;
}
iframe.googlemaps {
    width: 100%;
}
.btn-primary.colored {
    background-color: #DC941A;
    color: white;
    border-color: #DC941A;
}
div.links a {
    color: dimgrey;
}

div.twitter {
    margin-top: 30px;
}
div.facebook {
    margin-top: 30px;
    margin-left: 10px;
}

/**
Header CSS
**/
nav.navbar {
    background-color: #fff;
    border-color: #fff;
    font-family: 'bebas-neue';
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000000;
    background-color: transparent;
}

nav i.fa {
    background-color: #A9C811;
    width: 30px;
    height: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
    color: #fff;
}

nav i.fa-twitter {
    background-color:#C7B315;
}

nav i.fa-at {
    background-color:#DC941A;
}

nav ul.social-media {
    padding-left: 0px;
    float: right;
}

nav ul.social-media li {
    display: inline-block;
    margin-left: 40px;
}
/**
END Header page CSS
**/

footer {
    background-color:#acc90f;
}

/**
Home page CSS
**/
.no-padding {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1px;
    overflow: hidden;
}

.slider {
    max-height: 850px;
}
div.calendar{
    margin-top: 20px;
}

.slideshow {
    width: 20000px;
    position: relative;
    overflow: hidden;
    left: 0;
    -webkit-transition: left 2s ease-in-out;
    -moz-transition: left 2s ease-in-out;
    -o-transition: left 2s ease-in-out;
    transition: left 2s ease-in-out;
}

.home-img {
    width: 100%;
}

.slideshow-img {
    width: 100px;
    height: 850px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

img.logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    width: 630px;
}

div.block-1, div.block-2, div.block-3 {
    padding: 0px 100px 120px 100px;
}

div.block-2, div.block-3 {
    padding-bottom: 30px;
}

/*de grote blokken 1,2,3*/
div.block-1 {
	background-color: #ffffff;
}
div.block-2{
	background-color: #C8B415;
}
div.block-3 {
    background-color: #ffffff;
}
/*
div.block-1, div.block-1 .continue-reading a {
    background-color: #ACC90F;
}

div.block-2, div.block-2 .continue-reading a {
    background-color: #C8B415;
}

div.block-3, div.block-3 .continue-reading a {
    background-color: #EC671C;
}

div.block-1 .continue-reading a:hover, div.block-1 .continue-reading a:focus {
    background-color: #8ca213;
}

div.block-2 .continue-reading a:hover, div.block-2 .continue-reading a:focus {
    background-color: #9a8c1c;
}

div.block-3 .continue-reading a:hover, div.block-3 .continue-reading a:focus {
    background-color: #a25022;
}*/

/*div.block-1 .continue-reading a {*/
	/*background-color: #ACC90F;*/
/*}*/
/*div.block-2 .continue-reading {*/
	/*background-color: #EC671C;*/
/*}*/
/*div.block-3 .continue-reading {*/
	/*background-color: #;*/
/*}*/


div.block-2 a.read-more {
    color: #000;
}

div.block-3 a.read-more {
    color: #EC671C;
}

div.block-2 div.info-block h3, div.block-3 div.info-block h3 {
    padding-bottom: 5px;
}

.rainbow .col-xs-12 {
    line-height: 0px;
}

/*titels boven de blokken*/
h2.title {
    color: #000;
    text-transform: uppercase;
    border-color: #000;
    border-style: solid;
    text-align: center;
    width: 650px;
    margin: 50px auto;
    padding: 10px 0px;
    border-left:0;
    border-right:0;
}
h2.title1 {
	color: #000;
	text-transform: uppercase;
	border-color: #000;
	border-style: solid;
	text-align: center;
	width: 650px;
	margin: 50px auto;
	padding: 10px 0px;
}
h2.title2 {
	color: #fff;
	text-transform: uppercase;
	border-color: #fff;
	border-style: solid;
	text-align: center;
	margin: 50px auto;
	padding: 10px 0px;
}
h2.title3 {
    color: #000;
    text-transform: uppercase;
    border-color: #000;
    border-style: solid;
    text-align: center;
    width: 650px;
    margin: 50px auto;
    padding: 10px 0px;
}
h2.title1, h2.title2, h2.title3 {
    font-size: 47px;
    font-family: 'bebas-neue';
    text-transform: uppercase;
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
}

span.home-text {
    color: #000000;
    font-size: 20px;
    font-family: 'univers-cn';
    font-weight: 500;
    text-align: center;
    width: 800px;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}
  
/*alle images in de kleine blokken*/
div.info-block .img {
    background-color: #fff;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


div.info-block h3 {
    color: #000000;
    background-color: #fff;
    font-family: 'bebas-neue';
    font-size: 40px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 30px 20px;
    margin: 0px;
}
/*text-block is alle tekst onder het plaatje in de kleine blokken*/
div.text-block1 h3{
	color: #000000;
	background-color: #ACC90F;
	font-weight: bold;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 30px 20px;
	margin: 0px;
}

div.text-block3 h3{
	color: #000000;
	background-color: #EC671C;
	font-weight: bold;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 30px 20px;
	margin: 0px;
}


div.info-block h4.date {
    color: #000000;
    background-color: #fff;
    font-family: 'bebas-neue';
    font-size: 25px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 20px 15px;
    margin: 0px;
}
div.text-block1 h4.date {
	color: #000000;
	background-color: #ACC90F;
	font-weight: bold;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px 20px 15px;
	margin: 0px;
}

div.text-block3 h4.date {
	color: #000000;
	background-color: #EC671C;
	font-weight: bold;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px 20px 15px;
	margin: 0px;
}

div.info-block span.info {
    color: #000000;
    font-family: 'univers-cn';
    font-size: 17px;
    background-color: #fff;
    width: 100%;
    padding: 0px 20px 20px 20px;
    height: 160px;
    display: block;
    overflow: hidden;
}
div.text-block1 span.info {
	color: #000000;
	background-color: #ACC90F;
	display: inline-block;
	width: 100%;
	padding: 0px 20px 20px 20px;
	height: 160px;
	display: block;
	overflow: hidden;
}
div.text-block3 span.info {
	color: #000000;
	background-color: #EC671C;
	display: inline-block;
	width: 100%;
	padding: 0px 20px 20px 20px;
	height: 171px;
	display: block;
	overflow: hidden;
}

div.info-block .continue-reading1 {
  font-family: 'bebas-neue';
  font-size: 20px;
	background-color: #ACC90F;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
div.info-block .continue-reading2 {
  font-family: 'bebas-neue';
  font-size: 20px;
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
div.info-block .continue-reading3 {
  font-family: 'bebas-neue';
  font-size: 20px;
	background-color: #EC671C;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

div.info-block .continue-reading1 a {
	color: #000;
	background-color: #ffffff ;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	float: right;
	padding: 10px 30px;
	margin: 0px 20px 0px 0px;
}
div.info-block .continue-reading2 a {
	color: #000;
	background-color: #C8B415;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	float: right;
	padding: 10px 30px;
	margin: 0px 20px 0px 0px;
}
div.info-block .continue-reading3 a {
	color: #000;
	background-color: #ffffff ;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	float: right;
	padding: 10px 30px;
 	margin: 0px 20px 0px 0px;
}
div.block-2 a.read-more, div.block-3 a.read-more {
    text-transform: uppercase;
    font-family: 'bebas-neue';
    font-size: 30px;
    text-align: right;
    padding: 12.5px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;

}

.show-responsive-menu {
    display: none;
}

#responsive-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #333333;
    border-right: 1px solid black;
    z-index: 10;
}

#responsive-menu ul {
    margin: 0px;
    padding: 0px;
}

#responsive-menu ul li {
    width: 100%;
    padding: 0px;
    font-size: 15px;
    border-bottom: 1px solid #999999;
}

#responsive-menu ul li a {
    color: #fff;
    padding: 10px;
    display: block;
}

#responsive-menu span.close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    padding: 10px;
    border-left: 1px solid #999999;
}
/**
END Home page CSS
**/

/**
About us page
**/
.partial_employee {
    margin-bottom: 25px;
}
.employee-bg {
    background-color: #ACC90F;
}
.employee-text > * {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.user-img {
    width: auto;
    height: 250px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/**
END About us page
**/

/**
Responsive
**/
@media (max-width: 1590px) {
    nav.navbar {
        font-size: 20px;
    }
    nav ul.social-media {
        line-height: 40px;
    }
}

@media (max-width: 1328px) {
    nav.navbar {
        font-size: 15px;
    }
    nav ul.social-media {
        line-height: 25px;
        margin-top: 10px;
    }
    img.logo {
        width: 530px;
    }
}

@media (max-width: 1152px) {
    nav ul.social-media li {
        margin-left: 5px;
    }
    img.logo {
        width: 400px;
    }
}

@media (max-width: 1067px) {
    .nav>li>a {
        padding: 15px 7px;
    }
    img.logo {
        width: 320px;
    }
}

@media (max-width: 992px) {
    div.info-block {
        margin-top: 30px;
    }

    h2.title, span.home-text {
        width: auto;
    }

    div.block-1, div.block-2, div.block-3, .more-padding {
        padding: 0px 15px 50px 15px;
    }
    img.logo {
        bottom: 10px;
    }
    div.address {
        border: none!important;
    }
}

@media (max-width: 857px) {
    .hide-responsive {
        display: none;
    }
    .show-responsive-menu {
        display: block;
        float: left;
        margin-top: 10px;
    }
    img.logo {
        width: 250px;
    }
}

@media (max-width: 857px) {
    img.logo {
        width: 200px;
    }
}

.vacature-row{
    background-color: #EC671C;
    padding-bottom: 15px;
}

div.text-block3 span.info-vacature {
    color: #000000;
    background-color: #EC671C;
    display: inline-block;
    width: 100%;
    padding: 0px 20px 20px 20px;
    min-height: 50px;
    display: block;
}